 <nav class="navbar navbar-dark bg-dark">
      <!-- Image and text -->
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" target="_blank" href="http://www.banasthali.org/banasthali/wcms/en/home/">
        <img src="images/0.png" alt="" width="35" height="34" class="d-inline-block align-top">&nbsp Banasthali Vidyapith ( वनस्थली विद्यापीठ ) </a>
  </div>
</nav>

           
            <form class="d-flex">
              <button type="button" class="btn btn-dark">
              
              <a href="https://www.google.com/maps/place/Banasthali+University/@26.4026987,75.8728757,17z/data=!3m1!4b1!4m5!3m4!1s0x3bbfc0c282ffffff:0x4776f298b0f0587e!8m2!3d26.4026939!4d75.8750644" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
              </svg>
              </a> 
              </button>
              <a>&nbsp &nbsp </a>
              
              <!---<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>--->

              <button type="button" class="btn btn-dark"><a href="/register" >Register</button></a>
              
              <button type="button" class="btn btn-dark">Login</button>
              <a>&nbsp </a> 
            </form>
          </div>
        </div>
      </nav>

